<?xml version="1.0" encoding="UTF-8" ?>
<beans>
    <bean id="userDao" class="com.yang.springframework.test.bean.UserDao" />

    <bean id="userService" class="com.yang.springframework.test.bean.UserService">
        <property name="userId" value="100003"/>
        <property name="userDao" ref="userDao"/>
    </bean>
</beans>